@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100vh;
}

body{
    background-color: #B0B087;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 11% 10%;
    display: flex;
}

section .title{
    font-weight: 800;
    font-size: 2rem;
}

/* LIGHT SECTION */
section .light-section{
    background-color: #5E934F;
    width: 71%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

/* Title */
section .light-section #dark-title{
    color: #3B6F2E;
}

section .light-section #dark-title #light-green{
    color: #81B670;
}

/* Form */
section .light-section #cep-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

section .light-section #cep-form label{
    font-size: 0.9rem;
    font-weight: 600;
    color: #3B6F2E;
}

section .light-section #cep-form .field-searchBtn{
    display: flex;
    align-items: center;
    gap: 4%;
}
section .light-section #cep-form .field-searchBtn .editable-input{
    background-color: #A2CC95;
    height: 100%;
    width: 84%;
    padding: 0.6em;
    border: none;
    border-radius: 3px;
    color: #3B6F2E;
}

section .light-section #cep-form .field-searchBtn .editable-input::placeholder{
    font-size: 0.9rem;
    font-weight: 500;
    color: #81B670;
}

section .light-section #cep-form .field-searchBtn .search-button{
    background-color: #3B6F2E;
    height: 100%;
    padding: 0.7em;
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #81B670;
    cursor: pointer;
}

section .light-section #cep-form .no-editable-input{
    background-color: #8CAB82;
    height: 100%;
    width: 100%;
    padding: 0.6em;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d6b43;
}

section .light-section #cep-form .locUF-fields{
    display: flex;
    gap: 4%;
}

section .light-section #cep-form .locUF-fields .localidade{
    width: 84%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

section .light-section #cep-form .locUF-fields .uf{
    width: 12%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* DARK SECTION */
section .dark-section{
    background-color: #3B6F2E;
    width: 29%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

/* Title */
section .dark-section #light-title{
    text-align: center;
    color: #81B670;
}

section .dark-section #light-subtitle{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    color: #81B670;
}

section .dark-section #calc-button{
    background-color: #2D5523;
    padding: 0.7em;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #81B670;
    text-decoration: none;
}